.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header {
  background: rgb(0, 178, 255);
  color: #fff;
}

#lblCartCount {
  font-size: 12px;
  background: #ff0000;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}



ul {
  padding: 0;
  margin: 0;
  clear: both;
}

li {
  list-style-type: none;
  list-style-position: outside;
  padding: 7px;
  float: left;
}


/* 
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
  position: absolute;
  left: -9999%;
}


input[type="radio"]+label {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;
  color: black;
  background-color: white;
  margin-bottom: 10px;
}

input[type="radio"]:checked+label {
  border: 1px solid white;
  color: white;
  background-color: black;
} */


/* .variations label {
  display: inline-block;
  width: 200px;
  padding: 10px;
  border: solid 2px #ccc;
  transition: all 0.3s;
}

.variations input[type="radio"] {
  display: none;
}

.variations input[type="radio"]:checked+label {
  border: solid 2px green;
} */